# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

# OS
desktop.ini
Thumbs.db
.DS_Store

# Editor
.vscode/
.idea/

# Temp
*_temp.docx
~$*.docx

# SPMB bot — data sensitif & generated
script-spmb-bot/javascript/.data
script-spmb-bot/javascript/.curl
script-spmb-bot/javascript/spmb_output/
script-spmb-bot/javascript/node_modules/
script-spmb-bot/python/.data
script-spmb-bot/python/.curl
script-spmb-bot/python/.cred
script-spmb-bot/python/spmb_output/
script-spmb-bot/python/.venv/

weekly_report/
